.btn{
    padding: 10px 15px;
    text-align: center;
    color: white;
    font-weight: 500;
    display: block;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #FF569A,#FF4791,#FF287C,#FF1772);
}
.site{
    background: #FCEAE8;
}
.mt{
    margin-top: 100px;
}
.img-size img{
    width: 100px;
}
.bg1{
    background: #FFA500;
}
.bg2{
    background: #DA70D6;
}
.bg3{
    background: #0000FF;
}
.tc h3{
    font-size: 40px;
    color: white;
    font-weight: 600;
}
.bd{
    border: none;
    border-radius: 6px;
}
.cf{
    border: none;
    background: white;
    border-radius: 6px;
}

@media only screen and (max-width: 767px) and (min-width: 200px){
    .naisan{
        flex-direction: column-reverse;
    }
    .novel{
        margin-top: 35px;
    }
    .mt{
        margin-top: 50px;
    }
}
